.input-txt {
  clear: both;
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
  background-color: gray;
  border-style: none;
  cursor: text;
  outline: none;
  color: #e3dac9;
  width: 80%;
  margin-bottom: 4px;
  text-align: left;
}

.mat-dialog-container {
  background-color: #333333;
}

.mat-spinner{

}

.input-container{
  height: 75px;
  padding-top: 15px;
}
