
/* The navbar container */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Navbar links */
.topnav .entity-route {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.header-box {
  position: fixed;
  width: 100%;
  top: 0px;
}

/* Links - change color on hover */
.topnav .entity-route:hover {
  background-color: #ddd;
  color: black;
}
nav a:visited, a:link {
  color: #334953;
}

nav a.active {
  color: #039be5;
}

.logo {
  margin-top: 5px;
  margin-left: 5px;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.search-bar-container{
  padding-left: 10px;
  padding-right: 10px;
  height: 100%;
  vertical-align: super;
  display: inline-block;
  alignment: right;
}

.search-bar {
  width: 250px;
  height: 20px;
  -webkit-text-fill-color: white;
  background-color: gray;
  border-style: none;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 15px;
}
