<div class="main-content" *ngIf="placeholderImg">

  <div class="pet-detail-card" >
    <h2>Create New Pet</h2>
    <div [formGroup]="newPetForm">
      <div class="pet-detail-img">
        <img [src]="placeholderImg" align="left" class="card-info-img">
        <div class="pet-detail-url" valign="bottom">
          <label class="lbl-static">ImageUrl:</label>
          <input class="input-txt"  placeholder="image url" value=""  formControlName="imageUrl" required/>
        </div>
      </div>
      <div class="txt-input-box">
        <div class="pet-detail">
          <label class="lbl-static">Name:</label>
          <input class="input-txt"  placeholder="name"  formControlName="name"/>
        </div>
        <div class="pet-detail">
          <label class="lbl-static">Species:</label>
          <input class="input-txt"  placeholder="Species" formControlName="species"/>
        </div>
        <div class="pet-detail">
          <label class="lbl-static">Color:</label>
          <input class="input-txt"  placeholder="Color" formControlName="color"/>
        </div>
        <div class="pet-detail">
          <label class="lbl-static">Price:</label>
          <input class="input-txt"  placeholder="Price" formControlName="price"/>
        </div>
      </div>
      <div class="pet-detail">
        <label class="lbl-static-date">Birthday:</label>
        <div class="pet-detail-date">
          <input matInput [matDatepicker]="picker" class="input-date" placeholder="Birthday" formControlName="birthDate">
          <mat-datepicker-toggle [for]="picker" matSuffix>
            <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </div>
      </div>
      <div class="pet-detail">
        <label class="lbl-static-date">Sold Date:</label>
        <div class="pet-detail-date">
          <input matInput [matDatepicker]="picker2" class="input-date" placeholder="Sold Date">
          <mat-datepicker-toggle [for]="picker2" matSuffix>
            <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </div>
      </div>
    </div>
  </div>
  <div class="button-box">
    <button (click)="cancel()" mat-button>Cancel</button>
    <button [disabled]="!newPetForm.valid" (click)="createNewPet()" mat-button>Add</button>
  </div>
</div>


