<div *ngIf="placeholderImg" class="main-content">

  <div class="pet-detail-card">
    <h2>Create New Pet</h2>
    <div [formGroup]="newPetForm">
      <div class="pet-detail-img" align="center">
        <div class="pet-detail">
          <img [src]="placeholderImg" class="card-info-img">
        </div>
        <div class="pet-detail pet-detail-url" valign="bottom">
          <mat-form-field>
            <input matInput class="txt-input" formControlName="imageUrl" placeholder="ImageUrl" value=""/>
          </mat-form-field>
        </div>
      </div>
      <div class="txt-input-box" align="center" valign="center">
        <div class="pet-detail">
          <mat-form-field>
            <input matInput class="txt-input" formControlName="name" placeholder="name"/>
          </mat-form-field>
        </div>
        <div class="pet-detail">
          <mat-form-field>
            <mat-label>Species</mat-label>
            <mat-select>
              <mat-option *ngFor="let item of species" [value]="item.id">
                {{item.name | titlecase}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="pet-detail">
          <mat-form-field>
            <input matInput class="txt-input" formControlName="color" placeholder="Color"/>
          </mat-form-field>
        </div>
        <div class="pet-detail">
          <mat-form-field>
            <input matInput class="txt-input" formControlName="price" placeholder="Price"/>
          </mat-form-field>
        </div>
      </div>

      <div align="center">
        <div class="pet-detail">
          <mat-form-field>
            <input class="txt-input" [matDatepicker]="picker" formControlName="birthDate" matInput
                   placeholder="Birthday">
            <mat-datepicker-toggle [for]="picker" matSuffix>
              <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="pet-detail">
          <mat-form-field>
            <input [matDatepicker]="picker2" class="txt-input" formControlName="soldDate" matInput
                   placeholder="Sold Date">
            <mat-datepicker-toggle [for]="picker2" matSuffix>
              <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
  <div class="button-box">
    <button (click)="cancel()" mat-button>Cancel</button>
    <button (click)="openAddDialog()" [disabled]="!newPetForm.valid" mat-button>Add</button>
  </div>
</div>


