<div *ngIf="placeholderImg" class="main-content">

  <div class="pet-detail-card">
    <h2 style="margin-left: 73px">Create New Pet</h2>
    <div [formGroup]="newPetForm">
      <div align="center" class="pet-detail-img">
        <div class="pet-detail img">
          <img [src]="placeholderImg" class="img" class="card-info-img">
        </div>
        <div class="pet-detail pet-detail-url" valign="bottom">
          <mat-form-field class="url">
            <input class="txt-input, url" formControlName="imageUrl" matInput placeholder="ImageUrl"/>
          </mat-form-field>
        </div>
      </div>
      <div align="center" class="txt-input-box" valign="center">
        <div class="pet-detail">
          <mat-form-field>
            <input class="txt-input" formControlName="name" matInput placeholder="name"  required/>
          </mat-form-field>
        </div>
        <div class="pet-detail">
          <mat-form-field>
            <mat-label>Species</mat-label>
            <mat-select formControlName="species" required>
              <mat-option *ngFor="let item of species" [value]="item.id">
                {{item.name | titlecase}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="pet-detail">
          <mat-form-field>
            <input class="txt-input" formControlName="color" matInput placeholder="Color" required/>
          </mat-form-field>
        </div>
        <div class="pet-detail">
          <mat-form-field>
            <input class="txt-input" formControlName="price" matInput placeholder="Price" required/>
          </mat-form-field>
        </div>
      </div>

      <div align="center">
        <div class="pet-detail">
          <mat-form-field>
            <input [matDatepicker]="picker" class="txt-input" formControlName="birthDate" matInput
                   placeholder="Birthday" required>
            <mat-datepicker-toggle [for]="picker" matSuffix>
              <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="pet-detail">
          <mat-form-field>
            <input [matDatepicker]="picker2" class="txt-input" formControlName="soldDate" matInput
                   placeholder="Sold Date">
            <mat-datepicker-toggle [for]="picker2" matSuffix>
              <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
  <div class="button-box">
    <button (click)="cancel()" mat-button>Cancel</button>
    <button (click)="openAddDialog()" [disabled]="!newPetForm.valid" mat-button>Add</button>
  </div>
</div>


