<div *ngIf="placeholderImg" class="main-content">

  <div class="pet-detail-card">
    <h2>Create New Pet</h2>
    <div [formGroup]="newPetForm">
      <div class="pet-detail-img">
        <img [src]="placeholderImg" align="left" class="card-info-img">
        <div class="pet-detail-url" valign="bottom">
          <label class="lbl-static">ImageUrl:</label>
          <input class="input-txt" formControlName="imageUrl" placeholder="image url" required value=""/>
        </div>
      </div>
      <div class="txt-input-box">
        <div class="pet-detail">
          <label class="lbl-static">Name:</label>
          <input class="input-txt" formControlName="name" placeholder="name"/>
        </div>
        <div class="pet-detail">

            <label class="lbl-static">Species:</label>
            <select class="input-selector" placeholder="Species" formControlName="species">
              <option value="">Select Species...</option>
              <option class="input-options" *ngFor="let item of species" [value]="item.id">
                {{item.name}}
              </option>
            </select>
        </div>
        <div class="pet-detail">
          <label class="lbl-static">Color:</label>
          <input class="input-txt" formControlName="color" placeholder="Color"/>
        </div>
        <div class="pet-detail">
          <label class="lbl-static">Price:</label>
          <input class="input-txt" formControlName="price" placeholder="Price"/>
        </div>
      </div>
      <div class="pet-detail">
        <label class="lbl-static-date">Birthday:</label>
        <div class="pet-detail-date">
          <input [matDatepicker]="picker" class="input-date" formControlName="birthDate" matInput
                 placeholder="Birthday">
          <mat-datepicker-toggle [for]="picker" matSuffix>
            <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </div>
      </div>
      <div class="pet-detail">
        <label class="lbl-static-date">Sold Date:</label>
        <div class="pet-detail-date">
          <input [matDatepicker]="picker2" class="input-date" formControlName="birthDate" matInput
                 placeholder="Sold Date">
          <mat-datepicker-toggle [for]="picker2" matSuffix>
            <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </div>
      </div>
    </div>
  </div>
  <div class="button-box">
    <button (click)="cancel()" mat-button>Cancel</button>
    <button (click)="openAddDialog()" [disabled]="!newPetForm.valid" mat-button>Add</button>
  </div>
</div>


