
/* The navbar container */
.grid {
  overflow: hidden;

}

/* Navbar links */
.grid a {
  background-color: #333;
  float: top;
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 1.5%;
  text-decoration: none;

}
.col-1-4 {
  width: 20%;
  margin-right: 2%;
}

/* Links - change color on hover */
.grid a:hover {
  background-color: #ddd;
  color: black;
}
