<div class="main-content">
  <div class="subcontent">
    <div class="mat-headline"><h2 class="overview-headline">Pets</h2></div>
    <div *ngIf="pageList" class="grid-container">
      <div class="pet-overview-toolbar">
        <div class="pet-overview-tool">
          <a routerLink="/create/pet" style="text-decoration: none">
            <h2 class="tool">+</h2>
          </a>
        </div>
      </div>

      <div class="grid">

        <div *ngFor="let pet of pageList.data" class="something">
          <a routerLink="/pets/{{pet.id}}">
            <div class="module">
              <img *ngIf="pet.imageUrl" [src]=pet.imageUrl class="card-info-img">
              <img *ngIf="!pet.imageUrl" class="card-info-img" src="https://via.placeholder.com/150">
              <p class="card-info-text"><span class="span-detail">Name:</span> {{pet.name | titlecase}}</p>
              <p class="card-info-text"><span class="span-detail">Species:</span> {{pet.species | titlecase}}</p>
              <p class="card-info-text"><span class="span-detail">Color:</span> {{pet.color | titlecase}}</p>
              <p class="card-info-text"><span class="span-detail">Price:</span> {{pet.price}} DKK</p>
            </div>
          </a>
          <div class="button-ripple">
            <div matRipple matRippleColor='rgba(255, 255, 255, 0.35)'>
              <button (click)="openDialog(pet)" align="right" class="button-close" mat-button>
                <i class=ico-times></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="page-controller">
        <mat-paginator (page)="changePageData($event)" [length]="pageList.itemsTotal"
                       [pageIndex]="pageList.pageIndex"
                       [pageSizeOptions]="[12, 24, 36]" [pageSize]="pageList.itemsPrPage" class="paginator">
        </mat-paginator>
      </div>
    </div>
  </div>
</div>

