.sub-content {
  width: 90%;
  background-color: #333333;
  height: 800px;
  box-shadow: 2px 2px 4px 0px black;

}

.welcome-message {
  padding: 20px;
  padding-left: 30px;
  vertical-align: top;
}

.welcome-h1, .welcome-h4 {
  color: #e3dac9;
}

.welcome-h1 {
  margin-bottom: 3px;
}

.welcome-h4 {
  margin-top: 3px;
  margin-left: 10px;
}

mat-spinner{
  stroke: rgba(51, 62, 139, 1) !important;
}
