<
<div *ngIf="pet" class="main-content">
  <div [formGroup]="updatePetForm" class="pet-detail-card">
    <h2>{{pet.name | titlecase}} Details</h2>
    <mat-tab-group>
      <mat-tab label="Previous Owners">
        <div class="tap-container">
          <mat-grid-list [cols]="2" rowHeight="1:1.5" gutterSize="100px">
            <mat-grid-tile>
              <div style="height: 100%; width: 100%;">
                <h2>Previous Owners</h2>
                <div class="example-container">
                  <div
                    #doneList="cdkDropList"
                    (cdkDropListDropped)="drop($event)"
                    [cdkDropListConnectedTo]="[todoList]"
                    [cdkDropListData]="done"
                    cdkDropList
                    class="example-list" disabled="true">
                    <div *ngFor="let item of done" cdkDrag class="example-box">
                      <label>{{item}}</label>
                      <label>{{item}}</label>
                      <label>{{item}}</label>
                      <label>{{item}}</label>
                      <label>{{item}}</label>
                      <label>{{item}}</label>
                      <label>{{item}}</label>
                      <label>{{item}}</label>
                      <label>{{item}}</label>
                    </div>
                  </div>
                </div>
              </div>
            </mat-grid-tile>
            <mat-grid-tile>
              <div style="height: 100%; width: 100%;">
                <h2>Placeholder</h2>
                <div class="example-container">
                  <div
                    #todoList="cdkDropList"
                    (cdkDropListDropped)="drop($event)"
                    [cdkDropListConnectedTo]="[doneList]"
                    [cdkDropListData]="todo"
                    cdkDropList
                    class="example-list">
                    <div *ngFor="let item of todo" cdkDrag class="example-box">{{item}}</div>
                  </div>
                </div>
              </div>
            </mat-grid-tile>
          </mat-grid-list>
        </div>
      </mat-tab>
      <mat-tab label="Pet Info">
        <div class="tap-container">
          <div>
            <mat-grid-list [cols]="3" rowHeight="1:1">
              <mat-grid-tile>
                <img *ngIf="pet.imageUrl" [src]="pet.imageUrl">
                <img *ngIf="!pet.imageUrl" src="https://via.placeholder.com/150">
              </mat-grid-tile>
              <mat-grid-tile [colspan]="2">
                <mat-form-field *ngIf="edit" class="txt-url-input">
                  <input formControlName="imageUrl" matInput placeholder="ImageUrl"
                         value="https://Localhost3001"/>
                </mat-form-field>
                <div *ngIf="!edit" class="static-pet-data-container static-url-container">
                  <span class="static-pet-data-span">ImageUrl</span>
                  <label class="static-pet-data-label">{{pet.imageUrl}}https://Localhost3001</label>
                </div>
              </mat-grid-tile>
            </mat-grid-list>
          </div>
          <div>
            <mat-grid-list [cols]="2" rowHeight="4:1">
              <mat-grid-tile>
                <div class="static-pet-data-container">
                  <span class="static-pet-data-span">ID</span>
                  <label class="static-pet-data-label">{{pet.id}}</label>
                </div>
              </mat-grid-tile>
              <mat-grid-tile>
                <mat-form-field *ngIf="edit">
                  <input class="txt-input" formControlName="name" matInput placeholder="Name" value="{{pet.name}}"/>
                </mat-form-field>
                <div *ngIf="!edit" class="static-pet-data-container">
                  <span class="static-pet-data-span">Name</span>
                  <label class="static-pet-data-label">{{pet.name | titlecase}}</label>
                </div>
              </mat-grid-tile>
              <mat-grid-tile>
                <mat-form-field *ngIf="edit">
                  <input class="txt-input" formControlName="color" matInput placeholder="Color" value="{{pet.color}}"/>
                </mat-form-field>
                <div *ngIf="!edit" class="static-pet-data-container what">
                  <span class="static-pet-data-span">Color</span>
                  <label class="static-pet-data-label">{{pet.color | titlecase}}</label>
                </div>
              </mat-grid-tile>
              <mat-grid-tile>
                <mat-form-field *ngIf="edit">
                  <mat-label>Species</mat-label>
                  <mat-select [compareWith]="compareFn" formControlName="species" required>
                    <mat-option *ngFor="let item of species" [value]="item">
                      {{item.name | titlecase}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <div *ngIf="!edit" class="static-pet-data-container what">
                  <span class="static-pet-data-span">Species</span>
                  <label class="static-pet-data-label what2">{{pet.species.name | titlecase}}</label>
                </div>
              </mat-grid-tile>
              <mat-grid-tile>
                <mat-form-field *ngIf="edit">
                  <input class="txt-input" formControlName="price" matInput placeholder="Price" value="{{pet.price}}"/>
                </mat-form-field>
                <div *ngIf="!edit" class="static-pet-data-container">
                  <span class="static-pet-data-span">Price</span>
                  <label class="static-pet-data-label">{{pet.price}}</label>
                </div>
              </mat-grid-tile>
            </mat-grid-list>
          </div>
          <div>
            <mat-grid-list [cols]="2" rowHeight="3:1">
              <mat-grid-tile>
                <mat-form-field *ngIf="edit">
                  <input [matDatepicker]="picker1" class="txt-input" formControlName="birthDate" matInput
                         placeholder="Birthday"
                         value="{{pet.birthDate}}">
                  <mat-datepicker-toggle [for]="picker1" matSuffix>
                    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                  </mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
                <div *ngIf="!edit" class="static-pet-data-container">
                  <span class="static-pet-data-span">Birthday</span>
                  <label class="static-pet-data-label">{{pet.birthDate | date: "d/M/y"}}</label>
                </div>
              </mat-grid-tile>
              <mat-grid-tile>
                <mat-form-field *ngIf="edit">
                  <input [matDatepicker]="picker2" class="txt-input" formControlName="soldDate" matInput
                         placeholder="Sold Date"
                         value="{{pet.soldDate}}">
                  <mat-datepicker-toggle [for]="picker2" matSuffix>
                    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                  </mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
                <div *ngIf="!edit" class="static-pet-data-container">
                  <span class="static-pet-data-span">Sold Date</span>
                  <label class="static-pet-data-label">{{pet.soldDate  | date: "d/M/y"}}</label>
                </div>
              </mat-grid-tile>
            </mat-grid-list>
          </div>
        </div>
      </mat-tab>

    </mat-tab-group>
  </div>
  <div *ngIf="edit===false" class="button-box">
    <button (click)="goBack()" mat-button>Back</button>
    <button (click)="enableEdit(true)" mat-button>Edit</button>
  </div>
  <div *ngIf="edit===true" class="button-box">
    <button (click)="enableEdit(false)" mat-button>Cancel</button>
    <button (click)="openEditDialog()" [disabled]="!updatePetForm.valid" mat-button>Save</button>
  </div>
</div>
