/* The navbar container */
.topnav {
  overflow: hidden;
  background-color: #333;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 50);
}

/* Navbar links */
.topnav .entity-route {
  float: right;
  display: block;
  color: #e3dac9;
  text-align: center;
  padding: 5px 16px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0;
  width: 100px;
}

.smalluser {
  margin-left: 10px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

.header-box {
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 1;
}

/* Links - change color on hover */
.topnav .entity-route:hover {
  background-color: #e3dac9;
  color: black;
}

nav a:visited, a:link {
  color: #334953;
}

nav a.active {
  color: #039be5;
}

.logo {
  margin-top: 5px;
  margin-left: 5px;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.search-bar-container {
  padding-left: 30px;
  padding-right: 10px;
  height: 100%;
  vertical-align: super;
  display: inline-block;
  alignment: right;
  outline: none;
}

.search-bar {
  width: 250px;
  height: 25px;
  -webkit-text-fill-color: #e3dac9;
  background-color: gray;
  border-style: none;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 15px;
  outline: none;
}

.userCard {
  background: #333333;
  /*border: 1px solid #ccc;*/
  /*border-color: rgba(0, 0, 0, .2);*/
  color: #000;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
  box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
  outline: none;
  overflow: hidden;
  position: absolute;
  right: 8px;
  top: 62px;
  z-index: 991;
  line-height: normal;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  display: block;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  margin-left: 12px;
  width: 280px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 40px;
  /*max-height: -webkit-calc(100vh - 62px - 100px);
  max-height: calc(100vh - 62px - 100px);*/
}
.userCard-img {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  display: block;
  margin: 5px;

}

.userCard-username {
  display:block;
  color: #e3dac9;
  margin-bottom: 10px;
}

.userCard-btn-profile{
  background-color: #444444;
  color: #e3dac9;
}

.userCard-btn-logout {
  background-color: #444444;
  color: #e3dac9;

}

.userCard-logout-container{
  padding: 20px;
}

.userCard-img-container {
  padding: 50px;
  padding-bottom: 20px;
}

.userCard-img-container, .userCard-logout-container{
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #44444687;
}
