/* Application-wide Styles */

h1 {
  color: #e3dac9;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #e3dac9;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

body {
  margin: 0px;
  background: rgb(177, 193, 219); /* Old browsers */
  background: -moz-linear-gradient(45deg, rgba(177, 193, 219, 1) 0%, rgba(51, 62, 139, 1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, rgba(177, 193, 219, 1) 0%, rgba(51, 62, 139, 1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, rgba(177, 193, 219, 1) 0%, rgba(51, 62, 139, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b1c1db', endColorstr='#333e8b', GradientType=1); /* IE6-9 fallback on horizontal gradient */

  background-repeat: no-repeat;
  background-size: 100% 400%;
}
.main-content{
  min-height: 700px;
  margin: 1%;
  padding: 1em;
  margin-top: 50px;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: lightgray;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: lightgray;
}

::placeholder {
  color: lightgray;
  opacity: 1; /* Firefox */
}


body, input[type="text"], button {
  color: #333;
  font-family: Cambria, Georgia;
}


/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}

.mat-dialog-container{
  background-color: #333;
  overflow:hidden !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
