<div class="main-content">
  <div class="subcontent">
    <div class="mat-headline"><h2 class="bob">Pets</h2></div>
    <div *ngIf="pageList" class="grid-container">
      <div class="pet-overview-toolbar">
        <div class="pet-overview-tool">
          <a routerLink="/create_pet" style="text-decoration: none">
            <h2 class="tool">+</h2>
          </a>
        </div>
      </div>
      <div class="grid">
        <div *ngFor="let pet of pageList.data" class="something">
          <a routerLink="/pets/{{pet.id}}">
            <div class="module">
              <img *ngIf="pet.imageUrl" [src]=pet.imageUrl class="card-info-img">
              <img *ngIf="!pet.imageUrl" class="card-info-img" src="https://via.placeholder.com/150">
              <p class="card-info-text">Name: {{pet.name}}</p>
              <p class="card-info-text">Species: {{pet.name}}</p>
              <p class="card-info-text">Color: {{pet.name}}</p>
              <p class="card-info-text">Price: {{pet.name}}</p>
            </div>
          </a>
          <button (click)="deletePet(pet.id)" align="right" class="button-close">
            <i class=ico-times></i>
          </button>
        </div>
      </div>
      <div class="page-controller">
        <mat-paginator (page)="changePageData($event)" [length]="pageList.itemsTotal"
                       [pageIndex]="pageList.pageIndex"
                       [pageSizeOptions]="[12, 24, 36]" [pageSize]="pageList.itemsPrPage" class="paginator">
        </mat-paginator>
      </div>
    </div>
  </div>
</div>

